<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% if site.github_username %}
    <a style="font-size: 20px;" href="https://github.com/{{ site.github_username }}" class="fa fa-github social-links-github" target="_blank"></a>
{% endif %}

{% if site.bitbucket_username %}
    <a style="font-size: 20px;" href="https://bitbucket.com/{{ site.bitbucket_username }}" class="fa fa-bitbucket social-links-bitbucket" target="_blank"></a>
{% endif %}

{% if site.linkedin_username %}
    <a style="font-size: 20px;" href="https://linkedin.com/in/{{ site.linkedin_username }}" class="fa fa-linkedin social-links-linkedin" target="_blank"></a>
{% endif %}

{% if site.facebook_username %}
    <a style="font-size: 20px;" href="https://facebook.com/{{ site.facebook_username }}" class="fa fa-facebook social-links-facebook" target="_blank"></a>
{% endif %}

{% if site.instagram_username %}
    <a style="font-size: 20px;" href="https://www.instagram.com/{{ site.instagram_username }}" class="fa fa-instagram social-links-instagram" target="_blank"></a>
{% endif %}